.btn-primary{
    background-color: blue;
    color: white;
    display: block;
    width: 250px;
    margin: auto;
    margin-top: 25px;

}

.item-add-form{
    margin-top: 50px;
}

.item-add-form input{
     width: 574px;
    margin: auto;
}

.btn-primary{
    margin-top: 0px;
}

