h1{


}

.list-group-item {
    font-size: 25px;
    text-align: center;
}
input{
    min-width: 290px;
}

.input-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;

}

.todo-list{


}

.todo-list li{
    margin: auto;
    width: 600px;
    text-align: center;
    position: relative;
}

.button-wrapper{
    top: -1px;
    right: 0;
    z-index: 2;
    position: absolute;
}

.button-wrapper .btn{
    margin-left: 5px;
    height: 44px;
    border-radius: 0;
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 55px;
    margin-bottom: 35px;
    color: yellowgreen;
}

.header-wrapper h1{
    color: black;
}

.done{
    text-decoration: line-through;
;
}

.important{
    color: blue;
}